.input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  pointer-events: none;
}

.input-icon-svg {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--primary-green);
}

.input-field {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  background-color: rgba(31, 41, 55, 0.5);
  border-radius: 0.5rem;
  border: 1px solid var(--gray-700);
  color: white;
  font-size: 1rem;
  transition: all 0.2s;
}

.input-field::placeholder {
  color: var(--gray-400);
}

.input-field:focus {
  outline: none;
  border-color: var(--primary-green);
  box-shadow: 0 0 0 2px rgba(126, 6, 6, 0.5);
}